<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1095415947664-0qjua8md8448gce7i8sh58g5beoaqekg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1095415947664-0qjua8md8448gce7i8sh58g5beoaqekg</string>
	<key>API_KEY</key>
	<string>AIzaSyCErA35W_hpv_bR0MJBJbnmOuEdDcAIymM</string>
	<key>GCM_SENDER_ID</key>
	<string>1095415947664</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chatapp.Chat-App</string>
	<key>PROJECT_ID</key>
	<string>chat-app-f6c38</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-f6c38.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1095415947664:ios:9964b7d548ce00a6c01315</string>
</dict>
</plist>